<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <title>Umbrella</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <meta name="viewport" content="width=device-width,
　initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div class="wrap">
  <div class="header">
    <div class="header-logo">
    <a href="/">Umbrella</a>
  </div>
  </div>
  <div class="main">
  　　　　　　　　　　　　　　　　　　　　　　　　 <% if session[:nickname] %>

   <div class="user_twitter-id"><%= "#{session[:nickname]}さん、こんにちは" %></div>
  <% end %>

  <div class="logout">


   <P><a href="/homes/logout">
               <button type="button">ログアウト</button>
           </a></p>
  </div>

  <div class="Explanatory_text1">
<% if session[:result] %>
<%="おめでとうございます！"%><br>
<%= "あなたと@#{session[:content1]}さんは両想いです。"%><br><br>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Umbrellaで両想いになりました！" data-url="https://umbrellasan.herokuapp.com/" data-hashtags="Umbrellaで両想い" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 で喜びを共有しよう！

<% elsif session[:result2]%>
<%="おめでとうございます。"%><br>
<%= "あなたと@#{session[:content2]}さんは両想いです。"%><br><br>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Umbrellaで両想いになりました！" data-url="https://umbrellasan.herokuapp.com/" data-hashtags="Umbrellaで両想い" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 で喜びを共有しよう！
<% end %>
<% unless session[:result] || session[:result2] %>
<%= "@#{session[:content2]}さんを登録しました。" %><br>
<%= "相手があなたを登録した場合、"%><br>
<%= "このページでお知らせします。" %><br><br><br>
<%= "あなたが好きな人を登録したことをシェアすると"%><br>
<%= "あなたのことを好きな人も登録するかも？" %>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Umbrellaに好きな人を登録しました！" data-url="https://umbrellasan.herokuapp.com/" data-hashtags="Umbrellaで両想い" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>


  </div>

  <!-- /.wrap --></div>
